.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
  width: 100%;
  border-radius: .375rem;
  color: var(--COLOR-FONT-DEFAULT);
  border-color: var(--COLOR-BORDER-DEFAULT);
  background-color: transparent;
  border-width: .0625rem;
  padding: 1rem;
  border-style: solid;
  text-align: start;
  cursor: pointer;
}

.card:hover {
  outline: .125rem solid var(--COLOR-BORDER-ACCENT-EMPHASIS);
}

.card:focus-visible {
  outline: .125rem solid var(--COLOR-BLUE-700); 
}

.card_header {
  display: flex;
  flex-direction: column;
  gap: .375rem;
}

.card_repo_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 600;
  font-size: 1.25rem;
}

.card_repo_user {
  display: flex;
  align-items: center;
}

.card_avatar {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.user_name {
  font-size: 1rem;
  font-weight: 500;
}

.card_content {
  margin-top: 1rem;
  font-size: .875rem;
  font-weight: 400;

  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card_footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: .5rem;
  color: var(--COLOR-FONT-MUTED);
}

.footer_item {
  display: flex;
  align-items: center;
  list-style: none;

  font-size: .75rem;
}

.footer_spacer {
  margin-left: .5rem;
  margin-right: .5rem;
}

.language_dot {
  margin-right: .5rem;
  border-style: solid;
  border-width: .0625rem;
  border-color: color-mix(in srgb, var(--COLOR-GRAY-820) 15%, transparent);
  border-radius: 8px;
  width: 10px;
  height: 10px;
}

.stars_icon {
  vertical-align: text-bottom;
  margin-right: .375rem;
}

.container_skeleton {
  line-height: 0;
}
