@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  /* FONTS */
  --FF: "Mona Sans", sans-serif;

  /* ============================
                COLORES     
     ============================ */

  /* ======== NEUTRALES ======== */
  --COLOR-WHITE: #FFFFFF;
  --COLOR-BLACK: #000000;

  --COLOR-GRAY-50: #F6F8FA;
  --COLOR-GRAY-100: #EAEDF0;
  --COLOR-GRAY-200: #E1E7EC;
  --COLOR-GRAY-300: #D1D9E0;
  --COLOR-GRAY-400: #C9D1D9;
  --COLOR-GRAY-500: #9198A1;
  --COLOR-GRAY-520: #818B98;
  --COLOR-GRAY-550: #656C76;
  --COLOR-GRAY-600: #59636E;
  --COLOR-GRAY-700: #3D444D;
  --COLOR-GRAY-800: #30363D;
  --COLOR-GRAY-820: #1F2328;
  --COLOR-GRAY-850: #15191F;
  --COLOR-GRAY-900: #0D1117;
  --COLOR-GRAY-1000: #010409;

  /* =========== BLUE =========== */
  --COLOR-BLUE-50: #F0F6FC;
  --COLOR-BLUE-100: #DDF4FF;
  --COLOR-BLUE-200: #8CB4FF;
  --COLOR-BLUE-300: #58A6FF;
  --COLOR-BLUE-350: #4493f8;
  --COLOR-BLUE-400: #438EFF; 
  --COLOR-BLUE-450: #388BFD;
  --COLOR-BLUE-500: #1F6FEB;
  --COLOR-BLUE-600: #0969DA;
  --COLOR-BLUE-650: #3178C6; 
  --COLOR-BLUE-700: #3572A5; 
  --COLOR-BLUE-800: #244776;
  --COLOR-BLUE-900: #1D365D;

  /* ========== INDIGO ========== */
  --COLOR-INDIGO-600: #4F5D95;

  /* =========== BLUE =========== */
  --COLOR-CYAN-500: #00ADD8;

  /* ========== PURPLE ========== */
  --COLOR-PURPLE-300: #A97BFF;
  --COLOR-PURPLE-500: #7355DD;
  --COLOR-PURPLE-700: #663399;

  /* =========== PINK =========== */  
  --COLOR-PINK-500: #F34B7D;
  --COLOR-PINK-700: #C6538C;

  /* ===== AMARILLO / AMBAR ===== */  
  --COLOR-YELLOW-300: #F1E05A;
  --COLOR-YELLOW-500: #FCB32C;
  --COLOR-YELLOW-700: #B07219;

  /* ========== ORANGE ========== */  
  --COLOR-ORANGE-500: #F05138;
  --COLOR-ORANGE-600: #E34C26;
  --COLOR-ORANGE-700: #DA5B0B;

  /* =========== RED ============ */  
  --COLOR-RED-500: #DA3434;

  /* ========== GREEN =========== */;
  --COLOR-GREEN-300: #89E051;
  --COLOR-GREEN-400: #3FB950;
  --COLOR-GREEN-500: #1F883D;
  --COLOR-GREEN-550: #238636;
  --COLOR-GREEN-600: #1A7F37;
  --COLOR-GREEN-700: #178600;
  
  /* ======== TURQUOISE ========= */
  --COLOR-TURQUOISE-500: #578896;

  /* ========== CREAM =========== */
  --COLOR-CREAM-300: #DEA584;
}

[data-theme="dark"] {
  --COLOR-BACKGROUND-DEFAULT: var(--COLOR-GRAY-900);
  --COLOR-BACKGROUND-INSET: var(--COLOR-GRAY-1000);
  --COLOR-BACKGROUND-ACCENT-MUTED: color-mix(in srgb, var(--COLOR-BLUE-450) 10%, transparent);

  --COLOR-BORDER-DEFAULT: var(--COLOR-GRAY-700);
  --COLOR-BORDER-MUTED: color-mix(in srgb, var(--COLOR-GRAY-300) 70%, transparent);
  --COLOR-BORDER-SUCCESS-EMPHASIS: var(--COLOR-GREEN-550);
  --COLOR-BORDER-CONTROL: var(--COLOR-GRAY-700);
  --COLOR-BORDER-ACCENT-EMPHASIS: var(--COLOR-BLUE-600);

  --COLOR-BORDER-BUTTON-DEFAULT: var(--COLOR-GRAY-700);
  --COLOR-BUTTON-ICON-INVISIBLE: var(--COLOR-GRAY-500);
  --COLOR-BUTTON-BACKGROUND-INVISIBLE-HOVER: color-mix(in srgb, var(--COLOR-GRAY-550) 50%, transparent);
  
  --COLOR-FONT-DEFAULT: var(--COLOR-BLUE-50);
  --COLOR-FONT-SUCCES: var(--COLOR-GREEN-400);
  --COLOR-FONT-MUTED: var(--COLOR-GRAY-500);
  --COLOR-FONT-ACCENT: var(--COLOR-BLUE-350);

  --OVERLAY-BACKDROP: #21283066;
  --BOX-SHADOW-LARGE: 0 0 0 1px var(--COLOR-GRAY-700), 0 24px 48px 0 var(--COLOR-GRAY-1000);
  --BOX-SHADOW-MEDIUM: 0 0 0 1px var(--COLOR-GRAY-700), 0 8px 16px -4px #01040966, 0 4px 32px -4px #01040966, 0 24px 48px -12px #01040966, 0 48px 96px -24px #01040966;
  --BOX-SHADOW-SMALL: 0 0 0 1px var(--COLOR-GRAY-700), 0 6px 12px -3px #01040966, 0 6px 18px 0 #01040966;
  --BOX-SHADOW-XLARGE: 0 0 0 1px var(--COLOR-GRAY-700), 0 32px 64px 0 var(--COLOR-GRAY-1000);

  --skeleton-base: var(--COLOR-TEXT-SECONDARY);
  --skeleton-highlight: var(--COLOR-TEXT-PRINCIPAL);
}

[data-theme="light"] {
  --COLOR-BACKGROUND-DEFAULT: var(--COLOR-WHITE);
  --COLOR-BACKGROUND-INSET: var(--COLOR-GRAY-50);
  --COLOR-BACKGROUND-ACCENT-MUTED: var(--COLOR-BLUE-100);

  --COLOR-BORDER-DEFAULT: var(--COLOR-GRAY-300);
  --COLOR-BORDER-MUTED: color-mix(in srgb, var(--COLOR-GRAY-300) 70%, transparent);
  --COLOR-BORDER-SUCCESS-EMPHASIS: var(--COLOR-GREEN-500);
  --COLOR-BORDER-CONTROL: var(--COLOR-GRAY-300);
  --COLOR-BORDER-ACCENT-EMPHASIS: var(--COLOR-BLUE-600);

  --COLOR-BUTTON-ICON-INVISIBLE: var(--COLOR-GRAY-600);
  --COLOR-BUTTON-BACKGROUND-INVISIBLE-HOVER: color-mix(in srgb, var(--COLOR-GRAY-520) 10%, transparent);

  --COLOR-FONT-DEFAULT: var(--COLOR-GRAY-820);
  --COLOR-FONT-SUCCESS: var(--COLOR-GREEN-600);
  --COLOR-FONT-MUTED: var(--COLOR-GRAY-600);
  --COLOR-FONT-ACCENT: var(--COLOR-BLUE-600);

  --OVERLAY-BACKDROP: #c8d1da66;
  --BOX-SHADOW-LARGE: 0 0 0 1px #d1d9e000, 0 40px 80px 0 #25292e3d;
  --BOX-SHADOW-MEDIUM: 0 0 0 1px #d1d9e000, 0 8px 16px -4px #25292e14, 0 4px 32px -4px #25292e14, 0 24px 48px -12px #25292e14, 0 48px 96px -24px #25292e14;
  --BOX-SHADOW-SMALL: 0 0 0 1px #d1d9e040, 0 6px 12px -3px #25292e0a, 0 6px 18px 0 #25292e1f;
  --BOX-SHADOW-XLARGE: 0 0 0 1px #d1d9e000, 0 56px 112px 0 #25292e52;

  --skeleton-base: var(--COLOR-BORDER-CARD);
  --skeleton-highlight: var(--COLOR-GRAY-200);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  overflow: hidden;
	line-height: 1;

  font-size: .875rem;
  font-family: var(--FF);
  line-height: 1.5;
  color: var(--COLOR-FONT-DEFAULT);
  background-color: var(--COLOR-BACKGROUND-DEFAULT);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
  font-weight: 600;
}

.icon, .icon-link, .icon-close {
  width: 16px;
  height: 16px;
  color: var(--COLOR-ICON);
}

.icon-link:hover {
  cursor: pointer;
  color: var(--COLOR-BLUE-300);
}

.button_base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  user-select: none;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: .875rem;
  text-decoration: none;

  appearance: none;
  background-color: transparent;
  min-width: max-content;
  height: 2rem;
  gap: .5rem;
  border: .0625rem solid;
  border-color: var(--COLOR-BORDER-BUTTON-DEFAULT);
  border-radius: 0.375rem;
  padding: .75rem;
}

.button_icon {
  display: inline-grid;
  place-content: center;
  width: 2rem;
  padding: unset;
  min-width: unset;
  color: var(--COLOR-BUTTON-ICON-INVISIBLE);
  border: .0625rem solid var(--COLOR-BORDER-CONTROL);
}

.button_icon:hover {
  background-color: var(--COLOR-BUTTON-BACKGROUND-INVISIBLE-HOVER);
}

.button_close {
  border-color: transparent;
}

.privacy_label {
  margin-right: 0.25rem;
  vertical-align: middle;
  color: var(--COLOR-GRAY-600);
  border-style: solid;
  border-width: .0625rem;
  border-color: color-mix(in srgb, var(--COLOR-GRAY-300) 70%, transparent);
  height: 1.25rem;
  padding: 0 .375rem;
  border-radius: 6249.9375rem;
  font-size: .75rem;
  font-weight: 500;
  white-space: nowrap;
  background-color: transparent;
  align-items: center;
  line-height: 1;
  display: inline-flex;
}

.counter_label {
  display: inline-block;
  line-height: 1;
  border-radius: 20px;
  padding: .125rem .375rem;
  font-weight: 600;
  font-size: .75rem;
  margin-left: .25rem;
  background-color: var(--COLOR-BACKGROUND-COUNTER-LABEL);
  color: var(--COLOR-TEXT-COUNTER-LABEL);
}

.latest_label {
  display: inline-flex;
  line-height: 1;
  align-items: center;
  white-space: nowrap;
  background-color: transparent;
  font-weight: 500;
  font-size: .75rem;
  border-radius: 20px;
  flex-shrink: 0;
  border: 0.0625rem solid var(--COLOR-BORDER-SUCCESS-EMPHASIS);
  color: var(--COLOR-FONT-SUCCESS);
  height: 1.25rem;
  padding: 0 .375rem;
}

.modal_button_close {
  display: -ms-inline-grid;
  place-content: center;
  flex-shrink: 0;
  width: 2rem;
  border: none;
  outline: none;
  padding: unset;
  min-width: unset;
}

.app-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0 1rem;

  width: 100%;
  background-color: var(--COLOR-BACKGROUND-INSET);
  border-bottom: 1px solid var(--COLOR-BORDER-DEFAULT);
}

.app-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 68.8px);
}

.state_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  
  color: var(--COLOR-TEXT-SECONDARY);
}

.state_search {
  color: var(--COLOR-TEXT-SECONDARY);
  font: 600 large/1.5 var(--FF);
}

.error_state {
  font: bold 64px/1.5 var(--FF);
}

.error_description {
  font: 600 large/1.5 var(--FF);
}

.bg-blue-650 { background-color: var(--COLOR-BLUE-650) }
.bg-blue-700 { background-color: var(--COLOR-BLUE-700) }
.bg-blue-800 { background-color: var(--COLOR-BLUE-800) }

.bg-indigo-600 { background-color: var(--COLOR-INDIGO-800) }

.bg-orange-500 { background-color: var(--COLOR-ORANGE-500) }
.bg-orange-600 { background-color: var(--COLOR-ORANGE-600) }
.bg-orange-700 { background-color: var(--COLOR-ORANGE-700) }

.bg-purple-300 { background-color: var(--COLOR-PURPLE-300) }
.bg-purple-500 { background-color: var(--COLOR-PURPLE-500) }
.bg-purple-700 { background-color: var(--COLOR-PURPLE-700) }

.bg-green-400 { background-color: var(--COLOR-GREEN-400) }
.bg-green-600 { background-color: var(--COLOR-GREEN-600) }

.bg-yellow-300 { background-color: var(--COLOR-YELLOW-300) }
.bg-yellow-700 { background-color: var(--COLOR-YELLOW-700) }

.bg-red-500 { background-color: var(--COLOR-RED-500) }

.bg-pink-500 { background-color: var(--COLOR-PINK-500) }
.bg-pink-700 { background-color: var(--COLOR-PINK-700) }

.bg-gray-700 { background-color: var(--COLOR-GRAY-700) }

.bg-cream-300 { background-color: var(--COLOR-CREAM-300) }

.bg-cyan-500 { background-color: var(--COLOR-CYAN-500) }

.bg-green-300 { background-color: var(--COLOR-GREEN-300) }